body{
    font-family: monospace;
    font-weight: 600;
    color: whitesmoke;
    background-color: black;
    margin: 0;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;    
    position: relative; /*para que sea relativo al contenedor (nos permite top, right, left y bottom)*/
    display: grid;/*para que el hero se pueda dividir en 2 columnas (texto e img))*/
    background: linear-gradient(245.59deg, #7040f3 0%, #2f1479 25%, #09021a 75%  );
    justify-content: center;
    align-items: center;
}

form{
    border-radius: 10px;
    border: dotted, 2px, blueviolet;
    padding: 25px;
    transition: all .5s ease;
}

form:hover{
    background-color: blueviolet;
    border: dotted, 2px #635881;
    box-shadow: 2px 2px 6px #15073b;  
    transform: translateY(2px);  
 }

 .loginBtn{
    background-color: #635881;
    border: dotted, 2px blueviolet;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease;
 }

 .loginBtn:hover{
    color: whitesmoke;
    background-color: #15073b;
    border-radius: 3px;
    border: dotted, 2px, blueviolet;
    transform: translateY(2px); 
 }

label{
    display: block;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;

}

.show-hide{
    width: 20px;
    height: 20px;
}

.error-message{
    color: red;
    font-family: monospace;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
    font-size: 12px;
}

#show-hide{
    position: relative;
    top: -10px;
    float: right;
    color: rgb(122, 122, 122);
    cursor: pointer;
    border-bottom: 1px dotted transparent;
    transition: all .5s ease;
}

#show-hide:hover{
    border-bottom: 1px dotted #15073b;
    color: rgb(226, 226, 226)

}